.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

body {
  margin: 0;
}

#overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: all ease-in-out 2s;
}

#media.mediaopen > #overlay {
  position: absolute;
  z-index: 10;
  opacity: 100;
  transition: all ease-in-out 2s;
}

#toprow-div {
  height: 50vh;
  width: 100vw;
  left: 0vw;
  position: absolute;
}

.toprow {
  width: 33%;
  height: 50vh;
  float: left;
  position: absolute;
  top: 0vh;
}

.door {
  max-width: 100%;
  max-height: 100%;
  float: inherit;
  transition: all ease-in-out 0.2s;
  position: inherit;
  z-index: 1;
  float: left;
  image-orientation: from-image;
}

#portrait {
  max-width: 60%;
  max-height: 60%;
  float: inherit;
  transition: all ease-in-out 0.2s;
  position: relative;
  z-index: 0;
  float: left;
}

#portrait.peek {
  transform: rotate(5deg);
}

#portrait-wrapper {
  left: 3vh;
  width: 30vw;
  height: 33.3vh;
  position: absolute;
  top: 1vh;
  transition: all ease-in-out 0.6s;
}

/*MIRANDA DIV*/
/* make these into classes, then javascript to get it to open on page open and close */
#Miranda-div {
  position: absolute;
  top: 0;
  left: 9vw;
}

#Miranda-div:hover > .door {
  transform-origin: 12% center;
  transform: rotate3d(0, 1, 0, 45deg);
  transition: all ease-in-out 0.3s;
  z-index: 1;
}

#Miranda-div:hover > #portrait-wrapper {
  left: 12vh;
  transition: all ease-in-out 0.6s;
}

#Miranda-div.peek > .door {
  transform-origin: 12% center;
  transform: rotate3d(0, 1, 0, 45deg);
  transition: all ease-in-out 0.3s;
  z-index: 1;
}

#Miranda-div.depeek > .door {
  transform-origin: 12% center;
  transform: rotate3d(0, 0, 0, 45deg);
  transition: all ease-in-out 0.3s;
  z-index: 1;
}

#portrait-wrapper.peek {
  left: 12vh;
  transition: all ease-in-out 0.6s;
}

#portrait-wrapper.depeek {
  left: 3vh;
  transition: all ease-in-out 0.6s;
}

/*ABOUT/CONTACT DIV*/
#AboutContact-div {
  position: absolute;
  left: 42vw;
}

#AboutContact-div .door {
  left: 0vw;
}

#AboutContact-div:hover > .door {
  transform-origin: 12% center;
  transform: rotate3d(0, 1, 0, 45deg);
  transition: all ease-in-out 0.3s;
  z-index: 1;
}

#Bio-header {
  position: absolute;
  z-index: 0;
  top: 8vh;
  left: 0.5vw;
  transition: all ease-in-out 0.6s;
  color: #a025cc;
}

#AboutContact-div:hover > #Bio-header {
  -moz-transform: translate(280%, 0px);
  -webkit-transform: translate(280%, 0px);
  -o-transform: translate(280%, 0px);
  -ms-transform: translate(280%, 0px);
  transform: translate(280%, 0px);
  transition: all ease-in-out 0.6s;
}

#media {
  left: 73vw;
}

#media .small-door {
  z-index: 2;
}

#media:hover.mediaclosed > .small-door {
  transform-origin: 12% center;
  transform: rotate3d(0, 1, 0, 45deg);
  transition: all ease-in-out 0.3s;
}

#media .behind-text {
  z-index: 1;
}

#media:hover > .behind-text {
  -moz-transform: translate(140%, 0px);
  -webkit-transform: translate(140%, 0px);
  -o-transform: translate(140%, 0px);
  -ms-transform: translate(140%, 0px);
  transform: translate(140%, 0px);
  opacity: 100;
  transition: all ease-in-out 0.6s;
}

#media.mediaopen > .small-door {
  width: auto;
  height: 100vh;
  top: 0;
  left: -10vw;
  transition: all ease-out 3s;
  z-index: 10;
  transform-origin: 1% center;
  transform: rotate3d(0.01, 1, 0.01, -90deg);
}

#media.mediaopen {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all ease-in-out 2s;
  z-index: 10;
}

#media.mediaopen > .behind-text {
  opacity: 0;
  transition: all ease-out 0.4s;
}

#mediaoverlay.mediaopen {
  opacity: 100;
  left: -10vw;
  transition: opacity ease-out 1.5s, left ease-in-out 3s;
}

/*BOTTOM ROW: CONTENTS*/
#bottomrow-div {
  height: 50vh;
  width: 100vw;
  left: 0vw;
  position: absolute;
}

.bottomrow {
  width: 33%;
  height: 50vh;
  float: left;
  position: absolute;
  top: 50vh;
}

.behind-text {
  position: absolute;
  z-index: 3;
  margin-top: 0;
  top: 8vh;
  left: 0.5vw;
  transition: all ease-in-out 0.6s;
  opacity: 0;
  color: #a025cc;
}

.small-door {
  max-height: 100%;
  max-width: 100%;
  float: inherit;
  transition: all ease-in-out 0.3s;
  z-index: 1;
  float: left;
  left: 0%;
  position: inherit;
  image-orientation: from-image;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #a025cc;
  opacity: 0;
}

/*need to fix up the positioning, each content div needs to */
#film {
  position: absolute;
  left: 9vw;
}

#film .small-door {
  z-index: 8;
}

#film:hover.filmclosed > .small-door {
  transform-origin: 1% center;
  transform: rotate3d(0, 1, 0, 30deg);
  /*rotateY(45deg);*/
  transition: all ease-in-out 0.3s;
}

#film .behind-text {
  z-index: 7;
}

#film:hover > .behind-text {
  -moz-transform: translate(230%, 0px);
  -webkit-transform: translate(230%, 0px);
  -o-transform: translate(230%, 0px);
  -ms-transform: translate(230%, 0px);
  transform: translate(230%, 0px);
  transition: all ease-in-out 0.6s;
  opacity: 100;
}

#film.filmopen > .small-door {
  width: auto;
  height: 100vh;
  top: 0;
  left: -10vw;
  transition: all ease-out 2s;
  z-index: 10;
  transform-origin: 1% center;
  transform: rotate3d(0, 1, 0, -90deg);
}

#film.filmopen {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all ease-in-out 2s;
  z-index: 10;
}

#filmoverlay.filmopen {
  opacity: 100;
  left: -10vw;
  transition: opacity ease-out 1.5s, left ease-in-out 2s;
  z-index: 7;
}

#film.filmopen > .behind-text {
  opacity: 0;
  transition: all ease-out 0.4s;
}

#art {
  left: 41vw;
}

#art .small-door {
  z-index: 6;
}

#art:hover.artclosed > .small-door {
  transform-origin: 1% center;
  transform: rotate3d(0, 1, 0, 45deg);
  /*rotateY(45deg);*/
  transition: all ease-in-out 0.3s;
}

#art .behind-text {
  z-index: 5;
}

#art:hover > .behind-text {
  -moz-transform: translate(250%, 0px);
  -webkit-transform: translate(250%, 0px);
  -o-transform: translate(250%, 0px);
  -ms-transform: translate(250%, 0px);
  transform: translate(250%, 0px);
  transition: all ease-in-out 0.6s;
  opacity: 100;
}

#art.artopen > .small-door {
  width: auto;
  height: 100vh;
  top: 0;
  left: -41vw;
  transition: all ease-out 3s;
  z-index: 10;
  transform-origin: 1% center;
  transform: rotate3d(0.01, 1, 0.01, -90deg);
}

#art.artopen {
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: all ease-in-out 2s;
  z-index: 10;
}

#artoverlay.artopen {
  opacity: 100;
  left: 0vw;
  transition: opacity ease-out 1.5s, left ease-in-out 3s;
  z-index: 5;
}

#art.artopen > .behind-text {
  opacity: 0;
  transition: all ease-out 0.4s;
}

#comedy {
  left: 73vw;
}

#comedy .small-door {
  z-index: 4;
}

#comedy:hover.comedyclosed > .small-door {
  transform-origin: 12% center;
  transform: rotate3d(0, 1, 0, 45deg);
  transition: all ease-in-out 0.3s;
}

#comedy .behind-text {
  z-index: 3;
}

#comedy:hover > .behind-text {
  -moz-transform: translate(110%, 0px);
  -webkit-transform: translate(110%, 0px);
  -o-transform: translate(110%, 0px);
  -ms-transform: translate(110%, 0px);
  transform: translate(110%, 0px);
  transition: all ease-in-out 0.6s;
  opacity: 100;
}

#comedy.comedyopen > .small-door {
  width: auto;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all ease-out 3s;
  z-index: 10;
  transform-origin: 1% center;
  transform: rotate3d(0.01, 1, 0.01, -90deg);
}

#comedy.comedyopen {
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  transition: all ease-in-out 2s;
  z-index: 10;
}

#comedy.comedyopen > .behind-text {
  opacity: 0;
  transition: all ease-out 0.4s;
}

#comedyoverlay.comedyopen {
  opacity: 100;
  left: 0;
  width: 102vw;
  transition: opacity ease-out 1.5s, left ease-in-out 3s;
}

#comedyx {
  position: absolute;
  font-style: sans-serif;
  font-family: Arial;
}

#comedyx.comedyclosed {
  opacity: 0;
}

#comedyx.comedyopen {
  opacity: 100;
  transition: all ease-out 2s;
}

/*# sourceMappingURL=styles-updated.css.map */
